<section class="future1" id="future">
  <header class="setFlex">
    <h2 class="section-title orange-Text-gradient">{{ 'Future.FutureSectionTitle' | translate }}</h2>
  </header>
  <div class="container">
    <div class="my-future">
      <p class="my-future__description">
        {{ 'Future.Description' | translate }}</p>
    </div>
  </div>
</section>
<section class="boxes">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="future-plans">
          <div class="future-plans__icon future-pictures future-pictures__fig">
          </div>
          <h4 class="future-plans__title">
            Figma
          </h4>
          <div class="future-plans__hidden-text">
            <p>
              {{ 'Future.FigmaDesc' | translate }}
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="future-plans">
          <div class="future-plans__icon future-pictures future-pictures__three">
          </div>
          <h4 class="future-plans__title">
            three.js
          </h4>
          <div class="future-plans__hidden-text">
            <p>
              {{ 'Future.ThreeDesc' | translate }}
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="future-plans">
          <div class="future-plans__icon future-pictures future-pictures__gsap">
          </div>
          <h4 class="future-plans__title">
            GSAP
          </h4>
          <div class="future-plans__hidden-text">
            <p>
              {{ 'Future.GsapDesc' | translate }}
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="future-plans">
          <div class="future-plans__icon future-pictures future-pictures__php">
          </div>
          <h4 class="future-plans__title">
            PHP
          </h4>
          <div class="future-plans__hidden-text">
            <p>
              {{ 'Future.PhpDesc' | translate }}
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="future-plans">
          <div class="future-plans__icon future-pictures future-pictures__wp">
          </div>
          <h4 class="future-plans__title">
            Wordpress
          </h4>
          <div class="future-plans__hidden-text">
            <p>
              {{ 'Future.WpDesc' | translate }}
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="future-plans">
          <div class="future-plans__icon future-pictures future-pictures__ps">
          </div>
          <h4 class="future-plans__title">
            PhotoShop
          </h4>
          <div class="future-plans__hidden-text">
            <p>
              {{ 'Future.PsDesc' | translate }}
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="container">
    <div class="separator"></div>
  </div>
</section>