<section class="future1" id="future">
  <header class="setFlex">
    <h2 class="section-title">Przyszłość</h2>
  </header>
  <div class="container">
    <div class="my-future">
      <p class="my-future__description">
        Stawiam na ciągły rozwój. W przyszłości chciałbym rozwijać także technologie Back-endowe takie jak Node.js czy
        PHP.
        Planuję też poznać biblioteki do tworzenia animacji i ciekawych rozwiązań wizualnych takich jak Gsap i
        Three.js.
        Chciałbym też poszerzyć wiedzę z zakresu programów do tworzenia grafiki takie jak Photo Shop jak również wiele
        innych takich jak np. Wordpress.</p>
    </div>
  </div>
</section>
<section class="boxes">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="future-plans">
          <div class="future-plans__icon future-pictures future-pictures__fig">
          </div>
          <h4 class="future-plans__title">
            Figma
          </h4>
          <div class="future-plans__hidden-text">
            <p>
              Aktualnie mockupy projektuję w tym programie. Jednak ma jeszcze wiele opcji, które chciałbym poznać jak np. animacje i interakcje między ramkami.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="future-plans">
          <div class="future-plans__icon future-pictures future-pictures__three">
          </div>
          <h4 class="future-plans__title">
            three.js
          </h4>
          <div class="future-plans__hidden-text">
            <p>
              Od dawna fascynują mnie animacje w tym środowisku. Three.js posiada wiele możliwości, jednak najbardziej podobają mi się particles. Efekty rozbijania tekstu lub obrazka są naprawdę niesamowite.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="future-plans">
          <div class="future-plans__icon future-pictures future-pictures__gsap">
          </div>
          <h4 class="future-plans__title">
            GSAP
          </h4>
          <div class="future-plans__hidden-text">
            <p>
              Bardzo fajna biblioteka. Niezwykle rozwinięta jeżeli chodzi o animację. Przy bardzo prostej składni, oferuje mnóstwo możliwości. Mam zamiar przekonać się co ma do zaoferowania.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="future-plans">
          <div class="future-plans__icon future-pictures future-pictures__php">
          </div>
          <h4 class="future-plans__title">
            PHP
          </h4>
          <div class="future-plans__hidden-text">
            <p>
              Aktualnie skupiam się na froncie, lecz w przyszłości chciałbym też rozwinąć język back-endowy. Php jest idealny ponieważ przyda mi się także do nauki Wordpressa.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="future-plans">
          <div class="future-plans__icon future-pictures future-pictures__wp">
          </div>
          <h4 class="future-plans__title">
            Wordpress
          </h4>
          <div class="future-plans__hidden-text">
            <p>
              Bardzo fajny cms. Do tej pory wykorzystywałem go jako Headless api, ale jestem pewien że ma więcej do zaoferowania. Chciałbym postawić na nim jakąś witrynę lub sklep.  
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="future-plans">
          <div class="future-plans__icon future-pictures future-pictures__ps">
          </div>
          <h4 class="future-plans__title">
            PhotoShop
          </h4>
          <div class="future-plans__hidden-text">
            <p>
              Do wytryn zawsze potrzebne są jakieś obrazki. Chciałbym rozwinąć photoshopa bo to jedno z najlepszych narzędzi do przygotowywania grafik.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="container">
    <div class="separator"></div>
  </div>
</section>