<section class="contact">
  <div class="container">
    <header class="setFlex">
      <h2 class="section-title">Kontakt</h2>
    </header>
    <div class="contact-box">
      <p class="contact-box__description">
        Skontaktuj się ze mną! </p>
     
        
          <div class="contact-box__elements">
            <div class="row">
          <div class="single-item col-6 col-sm-3">
            <div class="single-item__icon linked">
              <a href="https://www.linkedin.com/in/krzysztof-śmiertka-825620192" target="_blank" rel="noopener" class="contact-icon"></a>
            </div>
            <div class="single-item__text">
              LINKEDIN
            </div>
          </div>

          <div class="single-item col-6 col-sm-3">
            <div class="single-item__icon github">
              <a href="https://github.com/smietanas" target="_blank" rel="noopener" class="contact-icon"></a>
            </div>
            <div class="single-item__text">
              GITHUB
            </div>
          </div>

          <div class="single-item col-6 col-sm-3">
            <div class="single-item__icon mail">
              <a href="mailto:ksmiertka@gmail.com" class="contact-icon"></a>
            </div>
            <div class="single-item__text">
              ksmiertka@gmail.com
            </div>
          </div>

          <div class="single-item col-6 col-sm-3">
            <div class="single-item__icon phone">
              <a href="callto://+48731769764" class="contact-icon"></a>
            </div>
            <div class="single-item__text">
              731-769-764
            </div>
          </div>
        </div>


      </div>
    </div>
    <div class="separator">
      
    </div>
  </div>
</section>