<section class="about1" id="about">
  <header class="setFlex">
    <div class="section-title">
      Kilka słów o mnie
    </div>
  </header>
 <div class="container">
   <div class="aboutMe">
    <p>Wybrałem branżę IT, ponieważ zafascynowało mnie to, jak szybko się ona rozwija i na jak wiele dziedzin się dzieli. W czasie studiów spodobał mi się język JavaScript. W przypadku Front-end, od razu widać efekty pracy, co jeszcze bardziej mnie motywuje do doskonalenia swoich umiejętności. </p>
    <p> Z czasem chciałem pisać strony dla własnych potrzeb, które będą wyglądać profesjonalnie. Im więcej technologii czy frameworków poznaje, tym bardziej chcę się rozwijać w tym kierunku. W przyszłości chciałbym poznać także technologie Back-endowe, by moje projekty były jeszcze lepsze. W wolnym czasie poza kodowaniem oglądam seriale albo gram. Lubię też aktywnie spędzać czas ze znajomymi, grając w kręgle lub squasha.</p>
   </div>

    <div class="separator"></div>

 </div>

 <section class="quotation">
  <header>
    <h2 class="section-title">
      Mój ulubiony cytat
    </h2>
  </header>
  <div class="container">
    <div class="wrapper-bottom wrapper_slider">
      <div class="comparision">
        <div class="comparision__img-1">
          <div class="container">
            <div class="quotation">
              <blockquote class="quotation__text">
                “ Wiele spośród rzeczy, które możesz policzyć, nie liczą się. Wiele z tych, których policzyć nie można, naprawdę sie liczą. “                   
              </blockquote>
              <figcaption class="quotation__author">Albert Einstein</figcaption>
            </div>
          
          </div>
      
        </div>
        <div class="comparision__img-2">
        </div>
      </div>
      <div class="slider">
        <div class="slider__drag">
          <span class="slider__circle"></span>
        </div>
        <input class="slider__input"  type="range" min="0" max="100" value="100"
          (input)="progressChange($event)">
      </div>
    </div>
  </div>
    
   

 </section>

</section>