<section class="about1" id="about">
  <header class="setFlex">
    <div class="section-title orange-Text-gradient">
      {{ 'About.AboutSectionTitle' | translate }}
    </div>
  </header>
 <div class="container">
   <div class="aboutMe">
    <p>{{ 'About.Description1' | translate }}</p>
    <p>{{ 'About.Description2' | translate }}</p>
   </div>

    <div class="separator"></div>

 </div>

 <section class="quotation">
  <header>
    <h2 class="section-title orange-Text-gradient">
      {{ 'About.CiteTitle' | translate }}
    </h2>
  </header>
  <div class="container">
    <div class="wrapper-bottom wrapper_slider">
      <div class="comparision">
        <div class="comparision__img-1">
          <div class="container">
            <div class="quotation">
              <blockquote class="quotation__text">
                “ {{ 'About.Cite' | translate }} “                   
              </blockquote>
              <figcaption class="quotation__author">Albert Einstein</figcaption>
            </div>
          
          </div>
      
        </div>
        <div class="comparision__img-2">
        </div>
      </div>
      <div class="slider">
        <div class="slider__drag">
          <span class="slider__circle"></span>
        </div>
        <input class="slider__input"  type="range" min="0" max="100" value="100"
          (input)="progressChange($event)">
      </div>
    </div>
  </div>
    
   

 </section>

</section>