@import "variables";

.navbar-toggler {
  outline: none;
  box-shadow: none;
}

.navigation .navbar-nav .nav-item.active a {
  color: $color-second;

}

.navigation {
  background-color: $background-main;
}

.menu-list li a {
  color: $color-main;
  cursor: pointer;
}

.menu-list {
  color: $color-main;
  transform: perspective(400px);
  transform-origin: center center;
  border-radius: 8px;
  font-size: $font-medium;
}

.logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  

  .logo__img {
    background-image: url("~src/assets/img/logo-small.png");
    height: 65px;
    width: 100px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .logo__languages {
    display: flex;
    padding: 5px;

    & img {
      padding: 10px;
      cursor: pointer;
    }
  }
}



.logo-nav {
  width: 100px;
  padding-top: 20px;
}

.close-button {
  position: absolute;
  top: 40px;
  right: 0px;
  overflow: hidden;
  outline: none;
}

@include media(lg) {

  .mobile-logo {
    display: none;
  }
}

@media (max-width: 992px) {
  .mobile-menu {
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 75%;
    max-width: 250px;
    margin: auto;
    transform: translateX(-100%);
    padding: 10px;
    transition: $transition-main;
    z-index: 1032;
    background-color: $background-main;

    &.show {
      transform: translateX(0);
      transition: $transition-main;
    }
  }


  .navbar-nav {
    margin-top: 50px;
  }

  .nav-item {
    position: relative;
    border-bottom: 2px solid #c8c8c8;
    margin-bottom: 10px;
    padding-right: 10px;
    border-radius: 5px;
  }



  .scrollable-menu {
    height: auto;
    overflow-x: hidden;
  }

  .scrollable-menu::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
  }

  .scrollable-menu::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: lightgray;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.75);
  }
}
