<nav class="navbar navbar-expand-lg navigation sticky-top" >
  <div class="container">
    <div class="logo-img">
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span><img class="icon--big" src="./assets/icons/bars_i.png" alt="Otwórz menu"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center mobile-menu scrollable-menu" id="navbarSupportedContent">
      <a class="navbar-brand mobile-logo">
        <img src="./assets/img/logo.webp" alt="Logo" class="d-inline-block align-middle logo-nav" /></a>
      <ul class="navbar-nav align-self-stretch menu-list" (click)='setActiveClass($event)'>

        <li class="nav-item">
          <a class="nav-link   scroll" href="#hero"  >Hero</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  scroll" href="#skills">Umiejętności</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  scroll" href="#education" >Edukacja</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  scroll" href="#about">O mnie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  scroll" href="#future">Przyszłość</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  scroll" href="#projects" >Projekty</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  scroll" href="#contact">Kontakt</a>
        </li>
      </ul>
      <button class="navbar-toggler close-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" name="close menu">
        <span><img class="icon--big" src="./assets/icons/close_i.png" alt="Zamknij menu"></span>
    </button>
    </div>
    <!-- <div class="collapse overlay">
    </div> -->
  </div>
</nav>