<nav class="navbar navbar-expand-lg navigation sticky-top" >
  <div class="container">
    <div class="logo">
      <div class="logo__img">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="19.05mm" height="12.7mm" version="1.1"
        style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
        viewBox="0 0 1905 1270" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Warstwa_x0020_1">
          <metadata id="CorelCorpID_0Corel-Layer" />
          <g id="containerlogo">
            <path class="logo-container"
              d="M1618 135l-1107 0c-208,0 -378,170 -378,377l0 554c0,44 36,80 81,80l1108 0c207,0 377,-169 377,-377l0 -553c0,-45 -36,-81 -81,-81z" />
          </g>
          
          <g id="k-letter">
            <polygon class="k-up" points="722,448 815,448 815,537 722,625 " />
            <polygon class="k-slash" points="721,720 989,455 1111,456 725,827 " />
            <polygon class="k-down" points="903,764 963,696 1091,832 981,832 " />
          </g>
          <g id="brackets">
            <g id="left-bracket">
              <polygon class="left-up" points="450,232 694,232 435,632 176,629 " />
              <polygon class="left-down" points="316,426 457,629 692,1037 453,1036 176,629 " />
            </g>
            <g id="right-bracket">
              <polygon class="right-up" points="1351,1036 1108,1032 1372,636 1631,643 " />
              <polygon class="right-down" points="1490,846 1351,639 1124,232 1360,231 1631,643 " />
            </g>
          </g>
         
        </g>
      </svg>
      </div>
      <div class="logo__languages">
        <img src="./assets/icons/pl.png"  alt="polish" (click)="useLanguage('pl')">
        <img src="./assets/icons/eng.png" alt="english" (click)="useLanguage('en')">
      </div>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span><img class="icon--big" src="./assets/icons/bars_i.png" alt="Otwórz menu"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center mobile-menu scrollable-menu" id="navbarSupportedContent">
      <a class="navbar-brand mobile-logo">
        <img src="./assets/img/logo-small.png" alt="Logo" class="d-inline-block align-middle logo-nav" /></a>
      <ul class="navbar-nav align-self-stretch menu-list" (click)='setActiveClass($event)'>

        <li class="nav-item active">
          <a class="nav-link   scroll" href="#hero"  >{{ 'Nav.Main' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  scroll" href="#skills">{{ 'Nav.Skills' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  scroll" href="#education" >{{ 'Nav.Education' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  scroll" href="#about">{{ 'Nav.About' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  scroll" href="#future">{{ 'Nav.Future' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  scroll" href="#projects" >{{ 'Nav.Projects' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  scroll" href="#contact">{{ 'Nav.Contact' | translate }}</a>
        </li>
      </ul>
      <button class="navbar-toggler close-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" name="close menu">
        <span><img class="icon--big" src="./assets/icons/close_i.png" alt="Zamknij menu"></span>
    </button>
    </div>
  </div>
</nav>