@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');



body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: $background-main; 
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: inherit;
}

.fixed {
  overflow: hidden;
}

.icon {
  width: 16px;

  &--big {
    width: 28px;
    margin: 5px;
    border-radius: 50%;
  }
}

.icon-link img {
  transition: $transition-main;
}

.icon-link img:hover {
  transform: scale(0.8);
  border-radius: 25px;
  box-shadow: 0px 0px 15px 2px #e5e5e5;
}

@keyframes ContentAnimate {
  from {
    transform: scale(0.6);
    opacity: 0
  }

  to {
    transform: scale(1);
    opacity: 1
  }
}


@keyframes pulse {
  0% {

    box-shadow: 0 0 0 0 rgba(206, 213, 219, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(238, 231, 231, 0);
  }

  100% {

    box-shadow: 0 0 0 0 rgba(199, 191, 191, 0);
  }
}


/*main button*/


.main-button {
  background-color: $color-second;
  color: $color-main;
  border: 1px solid $color-main;
  padding: 10px 30px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.3s ease;
}

.main-button:hover {
  background-color: $color-main;
  color: $color-second;
  border: 1px solid $color-main;
}

.main-button a:hover {
  text-decoration: none;
  color: $color-second;
}

//blured
.blurred {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1031;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  display: block;
}

//loading screen
.loading-button {
  z-index: 1000;
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  opacity: 1;
  background-color: $color-main;
  color: $color-second;
  border: 0;
  padding: 15px;
}

.vert {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.spinner-border {
  margin-right: 5px;
}

// return top button
.return-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0.5;
  border: none;
  border-radius: 50%;
  z-index: 100;
  display: none;
  & img {
    overflow: hidden;
    height: 50px;
    width: 50px;
  }
  &:focus{
    outline: none;
  }
}

section{
  background-color: $background-main; 
  padding-bottom: 50px;
  color: $color-main;
}

.section-title {
  text-align: center;
  color: $color-main;
  font-size: $font-medium;
  margin-bottom: 50px;
  padding: 20px;
  border: 2px solid $color-second;
  border-radius: 30px;
}

.separator{
height: 2px;
width: 100%;
background-color: $color-second;
filter: blur(2px);
margin-top: 50px;
}

.setFlex{
  display: flex;
  justify-content: center;
}

@include media(sm){
  section{
    padding-bottom: 70px;
  }
  .section-title{
    font-size: $font-subtitle-page;
  }
}

.orange-Text-gradient{
  background: linear-gradient(to right, #d3661e, #d96f2a, #df7835, #e4803f, #ea894a, #ea894a, #ea894a, #ea894a, #e4803f, #df7835, #d96f2a, #d3661e);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
