@import 'variables';

.projects {

}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: $font-small;
  margin-bottom: 10px;

  &__item {
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
  }
}

.active {
  background-color: $color-additional;
  color: $color-second;
}



.gallery {
  padding: 0;
}

.gallery__item {
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
  background-size: cover;

}

.gallery__desc{
  opacity: 0;
   visibility: hidden;
  background-color: #fff;
  height: 300px;
  width: 100%;
  transition: 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery__itemName{
font-size: $font-mediumUp;
text-transform: uppercase;
letter-spacing: 2px;
font-weight: bold;
}
.gallery__technologies{
font-size: $font-medium;
color: $color-additional;
font-weight: bold;
}
.gallery__showMore{
border: 1px solid $color-main;
color: $color-main;
background-color: transparent;
padding: 5px 10px;
}
.gallery__showMore:focus{
  outline: none;
}
.gallery__item:hover .gallery__desc {
  opacity: 1;
visibility: visible;
}

.modal-description{
  border-top: 1px solid #dee2e6;
  padding: 16px;
}

.modal-footer{
  border: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & a:link {
    text-decoration: none;
  }
}

.footer-button__visit{
  padding: 5px 20px;
  color: $color-second;
  background-color: $color-additional;
  border: 0;
  text-decoration: none;
}

@include media(sm){
  .menu{
    font-size: $font-normal;
  }
}

@include media(md){
  .menu{
    font-size: $font-mediumUp;
    padding: 10px 20px;
    margin-bottom: 20px;
    &__item {
      padding: 10px 50px;
    }
  }
}