<section class="skills" id="sskills">

  <header class="setFlex">
    <h2 class="section-title">Umiejętności</h2>
  </header>
  <div class="container">
    <div class="glide">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          <li class="glide__slide list__item"><img class="document-img" src="./assets/img/css.png" alt="Certyfikat">
          </li>
          <li class="glide__slide list__item"><img class="document-img" src="./assets/img/figma.png" alt="Certyfikat">
          </li>
          <li class="glide__slide list__item"><img class="document-img" src="./assets/img/html.png" alt="Certyfikat">
          </li>
          <li class="glide__slide list__item"><img class="document-img" src="./assets/img/js.png" alt="Certyfikat"></li>
          <li class="glide__slide list__item"><img class="document-img" src="./assets/img/bootstrap.png"
              alt="Certyfikat"></li>

        </ul>
      </div>
      <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<" name="arrow left"><img
            src="./assets/icons/left-arrow-small.png" alt="Lewa strzałka"></button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">" name="arrow right"><img
            src="./assets/icons/right-arrow-small.png" alt="Prawa strzałka"></button>
      </div>
      <div class="slider__bullets glide__bullets" data-glide-el="controls[nav]">
        <button class="slider__bullet glide__bullet glide__bullet--active" data-glide-dir="=0" name="bullet"
          aria-label="bullet"></button>
        <button class="slider__bullet glide__bullet" data-glide-dir="=1" name="bullet" aria-label="bullet"></button>
        <button class="slider__bullet glide__bullet" data-glide-dir="=2" name="bullet" aria-label="bullet"></button>
        <button class="slider__bullet glide__bullet" data-glide-dir="=3" name="bullet" aria-label="bullet"></button>
        <button class="slider__bullet glide__bullet" data-glide-dir="=4" name="bullet" aria-label="bullet"></button>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="separator"></div>
  </div>

</section>